@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500&display=swap');



.componentes-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
   grid-gap: 50px;
    padding: 3rem;
    max-width: 80%;
    margin: 10vh auto;
}

.componente-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
  
    
}
.info-1{
    width: 90%;
}

.info-1 > h4{
    font-family: 'Poppins', sans-serif;
    font-size: var(--title-fontSize);
    text-transform: uppercase;
    text-align: center;
    color: #00358d;
}
.info-1 >h4 > span{
    color: #88cfe8;
}
.info-2 > p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.componentes-textos{
    text-align: center;
    padding-top: 5vh;

}


.componentes-textos >h2{
    font-family: 'Poppins' , sans-serif;
    font-size: calc(1.3em + 1.3vw);
    text-transform: uppercase;
   
}
.componentes-textos >p{
    font-family: 'Lato', sans-serif;
    width: 30%;
    margin: 3vh auto;
    
}

.banner-seguridad{
    background-color: #1560a5;
    height: 40vh;
}


.banner-seguridad-text > p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: calc(1em + 1vw);
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}  

.banner-sub{
    height: 6px;
    width: 20%;
    border-radius: 5px;
    background-color: #fff;
    margin: 2vh auto;
}


