@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500&display=swap');


.seccion{
    min-height: 50vh;
}
.seccion-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
}
.seccion-grid-1 > ol{
    list-style-type: disc;
    width: 55%;
    
    
}

.seccion-grid-1 >ol > li{
    margin-top: 2vh;
    font-family: 'Lato', sans-serif;
}

::marker{
    color: #0099d6;
}

.seccion-grid-2 > p {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    width: 50%;
    margin: 0 auto;
}
.seccion-grid-2 > p > span{
    color: #0099d6;
}
.p-sub{
    height: 6px;
    width: 15vw;
    background-color: #0099d6;
    border-radius: 25px;
    margin: 2vh auto;
}

@media only screen and (min-width: 768px) and (max-width: 850px){
    .seccion-grid-1 > ol{
        width: auto;
    }
    .seccion-grid-2 > p{
        width: auto;
        text-align: center;
    }

}